<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bawei.rikaoday1_02_21">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main2ActivityDD"></activity>
        <activity android:name=".fragment.ddfragment.DaiFinish" />
        <activity android:name=".fragment.ddfragment.Daipj" />
        <activity android:name=".fragment.ddfragment.DaiShou" />
        <activity android:name=".fragment.ddfragment.DaiFu" />
        <activity android:name=".fragment.ddfragment.DaiAll" />
        <activity android:name=".AddLocation" />
        <activity android:name=".DengCe" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.WoDe" />
        <activity android:name=".fragment.FaXian" />
        <activity android:name=".fragment.ShoYe" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>