<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bawei.weiduyingyuan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dyicon"
        android:label="维度影院"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".wo_fragment.Wode_xxi"></activity>
        <activity android:name=".yingyuan.YingXiangqingFragment.MovieElaFragment" />
        <activity android:name=".yingyuan.YingXiangqingFragment.MovieXQFragment" />
        <activity android:name=".yingyuan.YingTuiJianXiangqing" />
        <activity android:name=".yingyuanjump.YingYuanSouSuo" />
        <activity android:name=".YingFragment.YingAction" />
        <activity android:name=".YingFragment.YingFuJin" />
        <activity android:name=".YingFragment.YingTuiJian" />
        <activity android:name=".NaviFragment" />
        <activity android:name=".flzc.ZhuCeZH" />
        <activity android:name=".flzc.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fragment.WoDe" />
        <activity android:name="fragment.YingYuan" />
        <activity android:name="fragment.ShouYe" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>